for member, item in public.about._data
  article.member
    span.member-photo(style="background-image:url(#{member.photo})")
    h2 #{member.name}
    p #{member.role}

    for identity, social in member.social
      ul
        li(class="#{social}")
          a(href="http://#{social}.com") #{identity}
