for member, item in public.about._data
  article.member
    span.member-photo(style="background-image:url(#{member.photo})")
    h3 #{member.name}
    p #{member.role}

    for identity, social in member.social
      a(href="http://#{social}.com/#{identity}")<i class="fa fa-#{social}"></i>#{social}
          
