article.h-entry
  a.u-url(href= "#{slug}")
    h2.p-name= title
  p
    | Published by
    =' '

    each author, index in author
      a.p-author.h-card(href= author[index].website)= author[index].name
      =' '

    =' '
    time.dt-published= published


  .e-content
    != yield

  .p-category
    = category[0].category
    =' '
    = category[0].tags


  h3 About the Author
  each author, index in author
    p
      a.p-author.h-card(href= author[index].website)= author[index].name
    p= author[index].description
