article.h-entry
  h1.p-name= title

  p.byline Published by

    each author, index in authors
      span.p-author.h-card
        if author.website
          a.u-url(href= author.website)= author.name
        else
          author.name

    time.dt-published= moment(published).format("MMM Do, YYYY")


  .e-content
    != yield

  .p-category= categories

  p.permalink
    a.u-url(href= "/posts/#{slug}") Permalink

  aside(role="contentinfo", class="Authors u-list")

    - var size = authors._size

    h3 About the Author #{size}

    each author, index in authors
      article.Author
        div(data-size="thumbnail")
          img(src=author.photo)
        h3.p-author.h-card
          a.u-url(href= author.website)= author.name
        p= author.description

        if author.data
          ul.List.List--inline
            for data, info in author.data
              if data !== null
                li(class="item-#{info}")
                  case info
                    when "hashtag"
                      a(href="https://twitter.com/hashtag/#{data}") ##{data}
                    when "twitter"
                      a(href="https://twitter.com/#{twitter}")@#{data}
                    default
                      a(href=data)= data
