article.h-entry.blog-article
  a.u-url.blog-article--url(href= "")
    h2.p-name.blog-article--title= properties.name
  p
    | Published by
    =' '

    each author, index in properties.author
      a.p-author.blog-article--author(href= properties.author[index].properties.url)= properties.author[index].properties.name
      =' '

    =' '
    time.dt-published.blog-article--time= properties.published

  .e-content.blog-article--content
    != yield

  .p-category= categories

  p.permalink
    a.u-url(href= "/posts/#{slug}") Permalink

  aside(role="contentinfo", class="Authors u-list")

    - var size = authors._size

    h3 About the Author #{size}

  .p-category.blog-article--category
    = properties.category[0].category
    =' '
    = properties.category[0].tags

    each author, index in authors
      article.Author
        div(data-size="thumbnail")
          img(src=author.photo)
        h3.p-author.h-card
          a.u-url(href= author.website)= author.name
        p= author.description

  h3 About the Author
  each author, index in properties.author
    p
      a.p-author.h-card.blog-article--author(href= properties.author[index].properties.url)= properties.author[index].properties.name
    p= properties.author[index].properties.description
