h1 Blog
p Some stuff we want to say about our blog.

//- show blog teaser roll
for post, slug in public.blog.posts._data
  if post.layout !== false
    article.h-entry.blog-teaser
      a.u-url.blog-teaser--url(href= "#{ post.properties.permalink[0].url }")
        h2.p-name.blog-teaser--title= post.properties.name
      p
        | Published by
        =' '

        each author, index in post.properties.author
          a.p-author.blog-teaser--author(href= post.properties.author[index].properties.url)= post.properties.author[index].properties.name
          =' '

        |  on
        =' '
        time.dt-published.blog-teaser--time= post.properties.published

      p.p-summary.blog-teaser--summary= post.properties.summary

          each author, index in post.authors
            span.p-author.h-card
              if author.website
                a.u-url(href= author.website)= author.name
              else
                author.name

          time.dt-published=moment(post.published).format("MMM Do, YYYY")

        p.p-summary= post.summary
