h1 Blog
p Some stuff we want to say about our blog.

//- show blog teaser roll
for post, slug in public.blog.posts._data
  if post.layout !== false
    article.h-entry
      a.u-url(href= "#{slug}")
        h2.p-name= post.title
      p
        | Published by
        =' '

        each author, index in post.author
          a.p-author.h-card(href= post.author[index].website)= post.author[index].name
          =' '

        |  on
        =' '
        time.dt-published= post.published

      p.p-summary= post.summary
