article.h-event
  h1.p-name=name
  p.duration
    time.dt-start(datetime="#{start_date}")
      #{start_date}
    time.dt-end(datetime="#{end_date}")
      #{end_date}

  if venue
    .p-location.h-card
      p.p-name #{venue.name}
      p.p-adr
        span.p-street-address #{venue.address_1}

        if venue.address_2
          span.p-extended-address #{venue.address_2}
        span.locality #{venue.city}
      if venue.accessible
        p.accessibility= venue.accessibie

  else
    .p-location.is-empty
      p VENUE TBD

  //- content
  .event-content
    != yield

  if participants
    section.partcipants
      h2.is-hidden Cast

      h3 Speakers

      each person, index in participants
        if person.role == "speaker"
          article.Speaker
            h4.talk-title #{person.title}
            p.byline by #{person.name}
            p.talk-description #{person.description}

            if person.photo
              img(src="#{person.photo.path}", alt="#{person.photo.alt}")

            p.bio #{person.bio}

            if person.data
              ul.List.List--stacked
                for data, info in person.data
                  if data !== null
                    li(class="item-#{info}")
                      case info
                        when "hashtag"
                          a(href="https://twitter.com/hashtag/#{data}") ##{data}
                        when "twitter"
                          a(href="https://twitter.com/#{twitter}")@#{data}
                        default
                          a(href=data)= data

        if person.role == "emcee"

          h3 Emcee

          article.Speaker--emcee.Speaker
            span.speaker-name #{person.name}

          if person.photo
            img(src="#{person.photo.path}", alt="#{person.photo.alt}")

        if person.role == "greeter"

          h3 Greeters

          article.Speaker--emcee.Speaker
            span.speaker-name #{person.name}

            if person.photo
              img(src="#{person.photo.path}", alt="#{person.photo.alt}", data-size="thumbnail")






  if sponsors
    section.sponsors
      h2 Sponsors
      each sponsor, delta in sponsors
        article.Sponsor
          span.sponsor-name: a(href="#{sponsor.url}")= sponsor.name
        if sponsor.data
          ul.List.List--stacked
            for data, info in sponsor.data
              if data !== null
                li(class="item-#{info}")
                  case info
                    when "hashtag"
                      a(href="https://twitter.com/hashtag/#{data}") ##{data}
                    when "twitter"
                      a(href="https://twitter.com/#{twitter}")@#{data}
                    default
                      a(href=data)= data



  section.coc
    h2 Event Code of Conduct
    p All events abide by our code of conduct and the Sass Community Guidelines. Event hosts, sponsors, attendees, speakers, guests, and employees are expected to commit to our mission and values of fighing oppression in tech
